* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
}
body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  text-align: center;
  font-size: 16px;
}
/* div container */
#game-container {
  max-width: 600px;
  margin: auto;
  background-color: #3c4043;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1, h2 {
  color: #ffcc00;
  padding-bottom: 25px;
}
h1 {
  padding-top: 20px;
}
h2 {
 padding-bottom: 30px;
}
/* div 1 */
#instructions {
  padding-bottom: 20px;
  border-bottom: solid 1px; 
}
#instructions ul {
  text-align: left;
  width: max-content;
  margin: auto;
  display: block;
}
#instructions ul li {
  padding-bottom: 10px;
  list-style-position: inside;
}
/* div 2 */
#game-info {
  padding: 30px 0 10px;
}
#game-info #stats {
  padding-bottom: 10px;
  width: max-content;
  margin: auto;
  display: block;
}
#game-info div p {
  text-align: left;
  padding-bottom: 10px;
}
#game-info #interact {
  padding-bottom: 10px;
  width: max-content;
  margin: auto;
  font-size: 0px; /* remove space between buttons */
}
/* div 3 */
#room-description {
  padding-bottom: 10px;
}
#room-description p {
  padding-bottom: 10px;
}
#start-button {
  margin-bottom: 20px;
}
/* buttons and input */
button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}
button:hover {
  background-color: #ffc107;
}
input {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
/* pause menu */
#pause-menu {
  background-color: #3c4043;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  height: 100vh;
}
#pause-menu ul {
  top: 50%;
  transform: translate(0%, -50%);
  text-align: left;
  width: max-content;
  margin: auto;
  display: block;
  list-style-type: none;
}
#pause-menu ul li {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  color: #000000;
  text-align: center;
}